<script src="/js/register.js"></script>
<link rel="stylesheet" href="/css/login.css">
<div class="Main-Body">
  <div class="text-center">
    <h5 class="display-4">Register</h5>
    <div class="form-group" style="margin-bottom:10px">
      <input type="email" required class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email">
      <div id="error-message-email" role="alert">
    </div>
    </div>
    <div class="form-group" style="margin-bottom:10px">
      <input type="text" required class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Username">
      <div id="error-message-username" role="alert">
    </div>
    </div>
    <div class="form-group" style="margin-bottom:10px">
      <input type="password" class="form-control" id="InputPassword" placeholder="Password">
      <div id="error-message-password" role="alert">
    </div>
    </div>
    <div class="form-group" style="margin-bottom:10px">
      <input type="password" class="form-control" id="InputCPassword" placeholder="Confirm Password">
      <div id="error-message-cpassword" role="alert">
    </div>
    </div>
    <button onclick="register()" type="submit" class="btn btn-primary">Register</button>
    <div class="form-group" style="margin-bottom:10px; margin-top:15px;">
      Already have an account? <a style="width:150px" class="no-account" href="/login" >Login here !</a>
    </div>
  </div>
</div>