@{
}
<script src="./js/dashboard.js"></script>
<link rel="stylesheet" href="./css/dashboard.css">

 <div class="Main-Body">

     
        <img class="profilePicture" src="https://www.samenfiks.nl/wp-content/uploads/2020/02/no-profile-picture.jpg" alt="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807">
        <div class="informationProfile">
            <h4 class="username">Username</h4>
            <div id="profileUserName"></div>

            <h4 class="email">Email</h4>
            <div id="profileEmail"></div>

            <h4 class="balance">Balance</h4>
            <div id="profileBalance"></div>

            <div class="button">
                <button class="btn btn-primary Dashboard-Button" style="margin-top: 20px" onclick="window.location.replace('/mytickets')">My Ticket</button>
                <button class="btn btn-primary Dashboard-Button" style="margin-top: 20px" onclick="window.location.replace('/topup')">Top Up</button>
            </div>
            
        </div>
    
</div>

