@{
}   
<link rel="stylesheet" href="./css/topupadmin.css">
<script src="/js/topupadmin.js"></script>


<div class="Main-Body">

    <div class="text-center">

        <h5 class="display-4">Top Up Admin</h5>

        <div class="input-box" style="margin-bottom:10px">
            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
        </div>

        <div class="input-box" style="margin-bottom:10px">
            <input type="number" class="form-control" id="InputAmount" placeholder="50000">
        </div>

        <button onclick="topup()" type="submit" class="btn btn-primary">Top up</button>    

    </div>

    <label id="message-alert" style="opacity: 0;">-</label>

</div>