@{
ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css">
<div class="Main-Body">
    <a class="Main-Carousel" id="Main-Carousel">
      <div class="Description-Divider">
        <h1 class="Main-Carousel-Title"></h1>
        <h3 class="Main-Carousel-Description"></h3>
        <h5 class="Main-Carousel-Author"></h5>
      </div>
    </a>
    <div class="Now-Playing-Box">
      <div class="Now-Player-Header">
        <h3 class="Now-Playing-Text">Now Playing</h3>
      </div>
      <div class="Movies-List" id="Movie-List"></div>
    </div>
</div>
<script src="/js/index.js"></script>