@{
ViewData["Title"] = "Booking";
}

<link rel="stylesheet" href="~/css/booking.css">
<script src="~/js/booking.js"></script>
<div class="Main-Body">
    <div class="Movie-Details">
    <div class="Movie-Details-Image"></div>
    <div class="Movie-Details-Text">
      <h5 class="Movie-Details-Header">Title :</h5>
      <input type="text" class="form-control input" disabled id="Title">
      <h5 class="Movie-Details-Header">Director :</h5>
      <input type="text" class="form-control input" disabled id="Director">
      <h5 class="Movie-Details-Header">Duration :</h5>
      <input type="text" class="form-control input" disabled id="Duration">
      <h5 class="Movie-Details-Header">Price per seat :</h5>
      <input type="text" class="form-control input" disabled id="Price">
    </div>
  </div>
  <div class="Seat-Selection-List">
    <div class="Movie-Screen">
      @* <h3 class="Movie-Screen-Text">Movie Screen</h3> *@
      Movie Screen
    </div>
  </div>

  <div class="Booking-Box">
    <div class="Amount">
      <h3>Amount</h3>
      <p class="Total-Price">IDR 0</p>
    </div>
    <!-- Create a white vertical line-->
    <div class="Vertical-Line"></div>
    <div class="Button-Divisor">
      <button class="btn btn-primary Action-Button" id="reset-seat" onclick="window.location.reload()">
        <span>Reset Seats</span>
      </button>
      <button class="btn btn-primary Action-Button" onclick="bookSeats()">
        <span>Book Seats</span>
      </button>
    </div>

  </div>
</div>