@{
}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/createMovie.css">
<h1 class="text-center createmovietitle">Create Movie</h1>
 <div class="formContainer">
      <form action="" method="post" id="MovieForm">
        <div class="formInput formTitle">
          <label for="title">Movie Title: </label>
          <input type="text" id="title" name="title" placeholder="Title" />
        </div>
        <div class="formInput formDesc">
          <label for="desc">Movie Description: </label>
          <input type="text" id="desc" name="desc" placeholder="Description" />
        </div>
        <div class="formInput formDirector">
          <label for="director">Movie Director: </label>
          <input
            type="text"
            id="director"
            name="director"
            placeholder="Director"
          />
        </div>
        <div class="formInput formDuration">
          <label for="duration">Movie Duration: </label>
          <input
            type="number"
            id="duration"
            name="duration"
            placeholder="Minutes"
          />
        </div>
        <div class="formInput formStatus">
          <label for="status">Movie Status: </label>
          <select name="status" id="status">
            <option value="active">Active</option>
            <option value="comingsoon">Coming Soon</option>
          </select>
        </div>
        <div class="formInput formActors">
          <label for="actors">Actors: </label>
          <input
            type="text"
            id="actors"
            name="actors"
            placeholder="Actor1, Actor2, ..."
          />
        </div>
        <div class="formInput formGenres">
          <label for="genres">Genres: </label>
          <div id="genresContainer">
           
          </div>
        </div>
        <div class="formInput formImg">
          <label for="img">Image: </label>
          <input type="file" id="img" name="img" />
        </div>
        <button id="create">Create</button>
      </form>
    </div>

<script>
        const getGenres = async ()=>{
            const genresContainer = document.getElementById("genresContainer");
            genresContainer.innerText = "Loading...";
            const response = await fetch("https://itcinemabackend-production.up.railway.app/movie/getgenres");
            const data = await response.json();
            const GenresData = data.Data;
            genresContainer.innerText = "";
            for(let i =0; i<GenresData.length;i++){
                const genresOptions = document.createElement("div");
                genresOptions.classList.add("genresOptions");

                const genreCheckBox = document.createElement("input");
                genreCheckBox.id = GenresData[i].GenreID;
                genreCheckBox.classList.add("genreCheckBox");
                genreCheckBox.setAttribute("type","checkbox");
                genreCheckBox.setAttribute("name",GenresData[i].GenreName);
                genreCheckBox.setAttribute("value",GenresData[i].GenreName);


                const genresButton = document.createElement("label");
                genresButton.classList.add("genresButton");
                genresButton.setAttribute("for", GenresData[i].GenreID);
                genresButton.innerText = GenresData[i].GenreName;
                
                genresOptions.appendChild(genreCheckBox);
                genresOptions.appendChild(genresButton);
                genresContainer.appendChild(genresOptions);
            }
        }

        const checkSelectedGenres = ()=>{
            const Genres = document.getElementsByClassName("genreCheckBox");
            let SelectedGenres = [];
            for(let i =0;i< Genres.length;i++){
                if(Genres[i].checked === true){
                  SelectedGenres.push(Genres[i].id);
                }
            }
            return SelectedGenres;
        }

      const form = document.getElementById("MovieForm");
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        let movieTitle = document.getElementById("title").value;
        let movieDescription = document.getElementById("desc").value;
        let movieDirector = document.getElementById("director").value;
        let movieDuration = document.getElementById("duration").value;
        let movieStatus = document.getElementById("status").value;
        let movieActors = document.getElementById("actors").value;
        let splitedActors = movieActors.split(",");
        let Actors = splitedActors.map((actors) => {
          return actors.trim();
        });
        checkSelectedGenres();
        let movieGenres = checkSelectedGenres();
        let movieImage = document.getElementById("img").files[0];


        $.ajax({
            type:"POST",
            url: "https://itcinemabackend-production.up.railway.app/admin/createmovies",
            data:{
                 "ResultCode": 0,
                 "ErrorMessage": "Success",
                 "Data": {
                    "MovieTitle": movieTitle,
                    "MovieDescription": movieDescription,
                    "MovieDirector": movieDirector,
                    "MovieDuration": movieDuration,
                    "MovieStatus": movieStatus,
                    "Actors": movieActors,
                    "Genre": movieGenres,
                    "Image": movieImage
                }
            },
            success: ()=>{
                movieTitle = document.getElementById("title").value = "";
                movieDescription = document.getElementById("desc").value = "";
                movieDirector = document.getElementById("director").value = "";
                movieDuration = document.getElementById("duration").value = "";
                movieActors = document.getElementById("actors").value = "";
                getGenres();
            }
        })
      });
      
      getGenres();
    </script>