@{
}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/createMovie.css">
<h1 class="text-center createmovietitle">Create Movie</h1>
 <div class="formContainer">
      <form action="" method="post" id="MovieForm">
        <div class="formInput formTitle">
          <label for="title">Movie Title: </label>
          <input type="text" id="title" name="MovieTitle" placeholder="Title" />
        </div>
        <div class="formInput formDesc">
          <label for="desc">Movie Description: </label>
          <input type="text" id="desc" name="MovieDescription" placeholder="Description" />
        </div>
        <div class="formInput formDirector">
          <label for="director">Movie Director: </label>
          <input
            type="text"
            id="director"
            name="MovieDirector"
            placeholder="Director"
          />
        </div>
        <div class="formInput formDuration">
          <label for="duration">Movie Duration: </label>
          <input
            type="number"
            id="duration"
            name="MovieDuration"
            placeholder="Minutes"
          />
        </div>
        <div class="formInput formStatus">
          <label for="status">Movie Status: </label>
          <select name="MovieStatus" id="status">
            <option value=1>Active</option>
            <option value=3>Coming Soon</option>
          </select>
        </div>
        <div class="formInput formActors">
          <label for="actors">Actors: </label>
          <input
            type="text"
            id="actors"
            name="Actors"
            placeholder="Actor1, Actor2, ..."
          />
        </div>
        <div class="formInput formGenres">
          <label for="genres">Genres: </label>
          <div id="genresContainer">
           
          </div>
        </div>
        <div class="formInput formImg">
          <label for="img">Image: </label>
          <input type="file" id="img" name="Image" />
        </div>
        <button id="create">Create</button>
      </form>
    </div>
    
<script src="/js/createmovie.js"></script>