@{
}   
<link rel="stylesheet" href="./css/movies.css">


<div class="container">
    <div class="NowPlayingDiv">
        <h3 class="titleNowPlaying">Now Playing</h3>
        <div id="movieListNowPlaying"></div>  
    </div>
    <div class="ComingSoonDiv">
        <h3 class="titleComingSoon">Coming Soon</h3>
        <div id="movieListComingSoon"></div>
    </div>
</div>


<script>
    

    const getRole = async ()=>{
        var role = 1;
        const token = window.sessionStorage.getItem("token")
        if(token != null){
            const data = await fetch(`https://itcinemabackend-production.up.railway.app/user/getuser`, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${token}`,
              "Content-Type": "application/json"
            }
          })
          const res = await data.json();
          role = res.Data[0].Role
        }
          getMovie(role);
    }


    const getMovie = async(role)=>{
        if(role==0){
             const response = await fetch(`https://itcinemabackend-production.up.railway.app/movie/getmovies?moviestatus=1&limit=-1`);
            const datas = await response.json();
            if(datas.status === 400){
                // alert("fail");
            }else{
                for (var x = 0; x < datas.Data.length; x++){
                    const movieData = datas.Data[x];
                    document.getElementById("movieListNowPlaying").innerHTML +=
                    ` <div class="card text-center" style="width: 17rem; margin: 15px">
                        <a href="/movies/moviedetails?id=${movieData.MovieID}">
                            <img class="card-img-top" style="height: 20rem;" src="${movieData.PosterURL}" alt="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807">
                            <div class="card-body">
                                <h5 <span style="margin: auto; id="">${movieData.MovieTitle}</span></h5>
                            </div>
                        </a>
                        <div id="card-actions" class="card-actions">
                            <button type="button" class="btn btn-warning"><img style="width: 40px;height: 40px;"  src="/assets/schedule_icon.png" alt="del-icon"></button>
                            <button type="button" onclick="deleteMovie('${movieData.MovieID}')" class="btn btn-danger"><img style="width: 20px;height: 20px;" src="/assets/delete_icon.png" alt="del-icon"></button>
                        </div>
                    </div>
                    `;
                }
            
            }

            const response2 = await fetch(`https://itcinemabackend-production.up.railway.app/movie/getmovies?moviestatus=3&limit=-1`);
            const datas2 = await response2.json();
            if(datas2.status === 400){
                // alert("fail");
            }else{
                for (var x = 0; x < datas2.Data.length; x++){
                    const movieData2 = datas2.Data[x];
                    document.getElementById("movieListComingSoon").innerHTML +=
                    ` <div class="card text-center" style="width: 17rem; margin: 15px">
                        <a href="/movies/moviedetails?id=${movieData2.MovieID}">
                            <img class="card-img-top" style="height: 20rem;" src="${movieData2.PosterURL}" alt="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807">
                            <div class="card-body">
                                <h5 <span id="">${movieData2.MovieTitle}</span></h5>
                            </div>
                        </a>
                         <div id="card-actions" class="card-actions">
                            <button type="button" class="btn btn-warning"><img style="width: 40px;height: 40px;"  src="/assets/schedule_icon.png" alt="del-icon"></button>
                            <button type="button" onclick="deleteMovie('${movieData2.MovieID}')" class="btn btn-danger"><img style="width: 20px;height: 20px;" src="/assets/delete_icon.png" alt="del-icon"></button>
                        </div>
                    </div>
                    `;
                } 
            
            }
        }else{
             const response = await fetch(`https://itcinemabackend-production.up.railway.app/movie/getmovies?moviestatus=1&limit=-1`);
            const datas = await response.json();
            if(datas.status === 400){
                // alert("fail");
            }else{
                for (var x = 0; x < datas.Data.length; x++){
                    const movieData = datas.Data[x];
                    document.getElementById("movieListNowPlaying").innerHTML +=
                    ` <div class="card text-center" style="width: 17rem; margin: 15px">
                        <a href="/movies/moviedetails?id=${movieData.MovieID}">
                            <img class="card-img-top" style="height: 20rem;" src="${movieData.PosterURL}" alt="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807">
                            <div class="card-body">
                                <h5 <span style="margin: auto; id="">${movieData.MovieTitle}</span></h5>
                            </div>
                        </a>
                    </div>
                    `;
                }
            
            }

            const response2 = await fetch(`https://itcinemabackend-production.up.railway.app/movie/getmovies?moviestatus=3&limit=-1`);
            const datas2 = await response2.json();
            if(datas2.status === 400){
                // alert("fail");
            }else{
                for (var x = 0; x < datas2.Data.length; x++){
                    const movieData2 = datas2.Data[x];
                    document.getElementById("movieListComingSoon").innerHTML +=
                    ` <div class="card text-center" style="width: 17rem; margin: 15px">
                        <a href="/movies/moviedetails?id=${movieData2.MovieID}">
                            <img class="card-img-top" style="height: 20rem;" src="${movieData2.PosterURL}" alt="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807">
                            <div class="card-body">
                                <h5 <span id="">${movieData2.MovieTitle}</span></h5>
                            </div>
                        </a>
                    </div>
                    `;
                } 
            
            }
        }
       
        
    }

   const deleteMovie = async(movieID)=>{
        var token = window.sessionStorage.getItem("token");
        const requestBody = JSON.stringify({
        MovieID: movieID
        })
        const delMovie = await fetch(`https://itcinemabackend-production.up.railway.app/admin/deletemovies`, {
        method: "POST",
        headers: {
          Authorization: `Bearer ${token}`,
          "Content-Type": "application/json"
        },
        body: requestBody
        })
        const res = delMovie.json;
        if(res.status = 200){
            alert('Deleted Successfull');
            document.getElementById("movieListNowPlaying").innerHTML="";
            document.getElementById("movieListComingSoon").innerHTML="";
            getMovie();
        }else{
            alert('Delete failed')
        }

    }


    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    window.onload = getRole
    
</script>