@{
}
<script src="/js/movies.js"></script>
<link rel="stylesheet" href="./css/movies.css">


<div class="container">
    <h3 class="titleNowPlaying">Now Playing</h3>
    <div id="movieListNowPlaying"></div>

    <h3 class="titleComingSoon">Coming Soon</h3>
    <div id="movieListComingSoon"></div>
</div>
