
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    font-family: "poppins";
    font-size: 13px;
}
.createmovietitle{
    padding: 10px;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0;
    padding-bottom: 100px;
}

form {
    padding: 20px;
    border-radius: 10px;
    background-color: #289CFF;
}

.formInput {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formInput input,select {
        padding: 0.2em;
        font-size: 1.3rem;
    }

#create {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #1769b1;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin-left: 10px;
}

#create:hover {
    background-color: #2183d8;
}

#genresContainer {
    max-width: 70vw;
    overflow-x: auto;
    display: flex;
}

.genresOptions {
    margin: 8px 0;
}

.statusContainer {
    display: flex;
}

.statusOptions {
    margin-right: 30px;
}

#img {
    font-size: 1rem;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"] + label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked + label {
    color: white;
    background-color: black;
}

.genresButton {
    text-align:center;
    width:90px;
    margin: 0 6px;
    border-radius: 10px;
    overflow:auto;
    border: none;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: honeydew;
    border-radius: 10px;
  }
  