
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.Main-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-bottom: 100px;
  padding: 20px;
}
.text-center {
  width: 30vw;
  text-align: center;
}
.form-control {
  margin-bottom: 30px;
}
.display-4 {
  margin-bottom: 30px;
}
.no-account {
  color: blue;
  text-decoration: underline;
  font-size: 15px;
}
.no-account:hover {
  color: #0056b3;
  cursor: pointer;
}