@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.Main-Body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: white;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 100px;
  }
#movieFirstTitle{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#createMovieBtn {
    cursor: pointer;
    background-color: #289CFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0.5em 1em;
    border-radius: 10px;
}

#createMovieBtn:hover{
    background-color: #1e79c7;
}

a {
    color: inherit;
}

.titleNowPlaying {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.titleComingSoon {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
.NowPlayingDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #289CFF;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

.ComingSoonDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #289CFF;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}
#movieListNowPlaying {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;

}

.card{
    border-radius: 10px;
    width: max-content;
    border: 0px;
    display: inline-flex;
    background-color: #14548b;

}
.card-body {
    height: 130px;
    width: 290px;
    color: white;
}
.card-actions {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 10px;
}
#card-actions button {
    padding : 0;
    margin: 0;
    width: 50px;
    height: 40px;
}
#card-actions img {
    padding: 1px;
    margin: 0;
    height: auto;
    align-items: flex-end;
}
.card-img-top {
    /* Perbandingan 1: 1.45 */
    width: 290px;
    height: 426px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Movies-List {
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    flex-direction: column;
  }


  p {
		word-break: normal;
		white-space: normal;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
  }
	.Movie-Title {
		background-color: #186bb3;
		border-radius: 10px;
		font-size: 19px;
	}