a {
    color: inherit;
}

.titleNowPlaying {
    margin-top: 30px;
    margin-left: 15px;
}

.titleComingSoon {
    margin-top: 70px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#movieListNowPlaying {
    display: flex;
    flex-wrap: wrap;
}

#movieListComingSoon {
    display: flex;
    flex-wrap: wrap;
}


