a {
    text-decoration: none;
}

.titleNowPlaying {
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.titleComingSoon {
    margin-top: 80px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#movieListNowPlaying {
    display: flex;
    flex-wrap: wrap;
}

#movieListComingSoon {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.titleTheaterList {
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 15px;
}