
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container {
    font-family: 'Poppins', sans-serif;
    background-color: #289CFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}
span{
    color: white
}
a {
    text-decoration: none;
}

.titleNowPlaying {
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.titleComingSoon {
    margin-top: 80px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#movieListNowPlaying {
    display: flex;
    flex-wrap: wrap;
}

#movieListComingSoon {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
#theaterList {
    margin: 0px;
    padding: 0px;
}
.Theater-Type {
    margin-top: 10px;
    margin-bottom: 10px;
}
.titleTheaterList {
    margin-bottom: 0px;
}
.btn-light {
    background-color: #77c0ff;
    border: none;
    color: white;
}
.list-group-item{
    background-color: #77c0ff;
}