html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}
.Main-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  flex-direction: column;
  width: 100vw;
  /* Center contents of this div */
}
.Seat-Selection-List {
  height: auto;
  width: 900px;
  background-color: aqua;
  display: inline-block;
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
}
.Seat-Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.Seat-Column {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: bisque;
  margin: 7px;
  border-radius: 10px;
  box-shadow: inset;
}
.Empty-Collumn {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF ;
  margin: 7px;
  border-radius: 10px;
  box-shadow: inset;
  visibility: hidden;
}
.Seat-Column:hover {
  background-color: #FF3232;
  /* zoom */
  transform: scale(1.1);
}
.Movie-Screen h3{
  width: 80%;
  height: 40px;
  background-color: #ACACAC;
  display: inline-block;
  size: 20px;
}