@{
}
<script src="/js/theatres.js"></script>
 <link rel="stylesheet" href="./css/theater.css">

<div class="container">
    <h3 class="titleTheaterList">Theater List</h3>
    <button class="btn btn-light Theater-Type" style="margin-left: 0px;" onclick="filterRegular()">Regular</button>
    <button class="btn btn-light Theater-Type" onclick="filterGold()">Gold</button>
    <button class="btn btn-light Theater-Type" onclick="filterPlatinum()">Platinum</button>
    <button class="btn btn-light Theater-Type" onclick="filterDiamond()">Diamond</button>

    <ul id="theaterList"></ul>
</div>
