@{
}
<script src="/js/theatres.js"></script>
 <link rel="stylesheet" href="./css/theater.css">

<div class="container">
    <h3 class="titleTheaterList">Theater List</h3>
    <button class="btn btn-primary" style="margin-left: 30px; margin-bottom: 30px" onclick="filterRegular()">Regular</button>
    <button class="btn btn-primary" style="margin-bottom: 30px"onclick="filterGold()">Gold</button>
    <button class="btn btn-primary" style="margin-bottom: 30px"onclick="filterPlatinum()">Platinum</button>
    <button class="btn btn-primary" style="margin-bottom: 30px"onclick="filterDiamond()">Diamond</button>

    <ul id="theaterList"></ul>
</div>
