@{
}
<link rel="stylesheet" href="./css/theaterDetail.css">
<div class="container my-5" id="mainContainer">
  <div class="row">
    <div class="col  d-block" >
     <h2 id="theaterName"></h2>
     <h2 id="theaterSeats"></h2>
    </div>
  </div>

  <div class="container pt-5" id="movieMain">
    <div class="row">
        <div class="col">
            <p>Movies Available:</p>
        </div>
    </div>
    <div class="row text-center bg-secondary py-3 rounded">
        <div class="col ">Movie</div>
        <div class="col ">Showtime</div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div style="display:inline-flex; justify-content: space-around" class="col-sm">
            <div onclick="getTheaterDetailToday()" style="cursor: pointer;" id="today-date">today</div>
            <div onclick="getTheaterDetailTomorrow()" style="cursor: pointer;" id="tomorrow-date">tomorrow</div>
        </div>
    </div>

</div>

</div>

<script src="/js/theaterdetail.js"></script>